@import "tailwindcss";

@theme {
  --color-pterodactyl-darker: #0d1117;
  --color-pterodactyl-dark: #161b22;
  --color-pterodactyl-light: #21262d;
  --color-pterodactyl-accent: #5865F2;
  --color-pterodactyl-accent-hover: #4752C4;
  --color-pterodactyl-text: #c9d1d9;
  --color-pterodactyl-muted: #8b949e;
}

:root {
  --background: #0d1117;
  --foreground: #c9d1d9;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.xterm {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #000000;
}
